
<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/mapApi.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  </head>
  <body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Skylark</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
            <li><a href="http://github.com/roushanj/skylark">Help</a></li>
          </ul>
        </div>
      </div>
  </nav>              



<script>
var v1 ="v1";var v2 = "v2";var v3 = "v3";var v4 = "v4";var v5 = "v5";var v6 = "v6";var v7 = "v7";var v8 = "v8";var v9 = "v9";var v10 = "v10";var v11 = "v12";var v13 = "v13";var v14 = "v14";var v15 = "v15";var v16 = "v16";var v17 = "v17";var v18 = "v18";var v19 = "v19";var v20 = "v20";var v21 = "v21";var v22 = "v22";var v23 = "v23";var v24 = "v24";

function myFunction(item) {
      
     var b1 = item;
     

   if(localStorage){

 
    localStorage.setItem('v1_valu', b1);

 

    // Retrieve data

    //alert("Hi, " + localStorage.getItem('v1_valu'));

    window.location.href = "/explore/main";

} else{

    alert("Sorry, your browser do not support local storage.");

}
}
</script>
    

  <div class="mark a">
     <div class="col-sm-9 col-sm-offset-2 col-md-11 col-md-offset-1 main">
          <h1 class="page-header">Select Your Choice</h1>

          <div class="column placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <button onclick="myFunction(v1)">click</button>
              <p class="text-muted">Average Male Height</p>
            </div>

              <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <button onclick="myFunction(v2)">click</button>
              <p class="text-muted">Barcode Prefix</p>
              
            </div>

              <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <button onclick="myFunction(v3)">click</button>
              <p class="text-muted">Calling Code</p>
              
            </div>

              <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <button onclick="myFunction(v4)">click</button>
              <p class="text-muted">Capital City</p>
             
            </div>
               <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <button onclick="myFunction(v5)">click</button>
              <p class="text-muted">Continent</p>
             
            </div>
                <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <button onclick="myFunction(v6)">click</button>
              <p class="text-muted">Costline</p>
             
            </div>
                <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <button onclick="myFunction(v7)">click</button>
              <p class="text-muted">Currency Code</p>
             
            </div>
               <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <button onclick="myFunction(v8)">click</button>
              <p class="text-muted">Currency Name</p>
             
            </div>
                <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <button onclick="myFunction(v9)">click</button>
              <p class="text-muted">Domain</p>
             
            </div>
               <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <button onclick="myFunction(v10)">click</button>
              <p class="text-muted">Elevation</p>
             
            </div>

             <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <button onclick="myFunction(v11)">click</button>
              <p class="text-muted">Flag</p>
             
            </div>
             <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <button onclick="myFunction(v12)">click</button>
              <p class="text-muted">Goverment Type</p>
             
            </div>
             <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <button onclick="myFunction(v13)">click</button>
              <p class="text-muted">Independence Date</p>
             
            </div>
             <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <button onclick="myFunction(v14)">click</button>
              <p class="text-muted">Iso Numeric</p>
             
            </div>
             <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <button onclick="myFunction(v15)">click</button>
              <p class="text-muted">Landlocked</p>
             
            </div>
             <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <button onclick="myFunction(v16)">click</button>
              <p class="text-muted">Languages</p>
             
            </div>
             <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <button onclick="myFunction(v17)">click</button>
              <p class="text-muted">Life Expectancy</p>
             
            </div>
              <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <button onclick="myFunction(v18)">click</button>
              <p class="text-muted">National Dish</p>
             
            </div>
              <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <button onclick="myFunction(v19)">click</button>
              <p class="text-muted">National Symbol</p>
             
            </div>
              <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <button onclick="myFunction(v20)">click</button>
              <p class="text-muted">population Density</p>
             
            </div>
             <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <button onclick="myFunction(v21)">click</button>
              <p class="text-muted">Population</p>
             
            </div>
              <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <button onclick="myFunction(v22)">click</button>
              <p class="text-muted">Region In the World</p>
             
            </div>
               <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <button onclick="myFunction(v23)">click</button>
              <p class="text-muted">Surface Area</p>
             
            </div>
              <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <button onclick="myFunction(v24)">click</button>
              <p class="text-muted">Average Temperture Yearly</p>
             
            </div>
              
            
          </div>
     </div>
</div>

</body>
</html>